body{
    background-color: #ddc7a6;
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;  
}

.img{
    height: 270px;

}

#conteudo-esquerdo{
    width: 45%;
    height: 400px;
    float: left;
    background-color: #e0e1e1;
    border: 2px solid #e0e1e1;
    border-radius: 20px;
}
#conteudo-direito{
    width: 45%;
    height: 400px;
    float:right;
    background-color: #e0e1e1;
    border: 2px solid #e0e1e1;
    border-radius: 20px;
}

.barreira1{
    height: 20px;
    width: 2%;;
    float: left;
}
.barreira2{
    height: 20px;
    width: 2%;
    float: right;
}
#titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding-bottom: 20px;
}

label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10%;
    font-size: larger;
    padding-bottom: 50px;
}
#selecao{
    background-color: #f56d15;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    width: 220px;
    
}


#texto{
    background-color: #f56d15;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    width: 220px;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: 60px;
   

}

.dentroL{
    width: 50%;
}

.dentroR{
    width: 50%;
}
