body{
    background-color: #ddc7a6;
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;  //mudar
}

.img{
    height: 220px;

}

#conteudo-esquerdo{
    width: 45%;
    height: 400px;
    float: left;
    background-color: #e0e1e1;
    border: 2px solid #e0e1e1;
    border-radius: 6%;
}
#conteudo-direito{
    width: 45%;
    height: 400px;
    float:right;
    background-color: #e0e1e1;
    border: 2px solid #e0e1e1;
    border-radius: 6%;
}

.barreira1{
    height: 20px;
    width: 2%;;
    float: left;
}
.barreira2{
    height: 20px;
    width: 2%;
    float: right;
}
#titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10%;
}
#selecao{
    background-color: #f56d15;
    border-radius: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
