body{
    background-color: #ddc7a6;
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;  
}
#fundo{
    border-top-color: #f56d15;
    width: 1220px;
    height: 700px;
    background-color: #e0e1e1;
    border-radius: 3%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}
#barra{
    background-color: #f56d15;
    width: 1220px;
    height: 64px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
   }

h1{
    padding-left: 10px;
    color: #e0e1e1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 h3{
    padding-top: 15px;
    padding-left: 8px;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .reta{
    display: flex;
    flex-flow: row wrap;
    
}
#tabela{
    width: 910px;
    border-width: 2px;
    height: 500px;
    border-style: solid;
    border-color: black;

}

h2{

    margin-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
